﻿<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<head>
    <title>{{title}}</title>
</head>
<div class="wrapper fadeInDown" ng-show = 'isloginSuccess'>
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img src="D:/Node.Digital_Logo.png" id="icon" alt="User Icon" /> -->
      <h1>Login</h1>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="emailid" ng-model="emailid">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" ng-model="password">
      <input type="submit" class="fadeIn fourth" value="Log In" ng-click="submit()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>


<div ng-if = "userdata != ''" style="padding-top: 25px">
    <div class="span1" ng-show="isadmin || isuser">
        <a href="#" class="btn btn-primary">
            <i class="icon-pencil icon-white"></i>
            <span><strong>Write</strong></span>            
        </a>
    </div>
    <div class="span1" ng-show="isadmin || isuser">
        <a href="#" class="btn btn-success">
            <i class="icon-eye-open icon-white"></i>
            <span><strong>View</strong></span>        	
        </a>
    </div>
    <div class="span1" ng-show="isadmin || isuser">
        <a href="#" class="btn btn-info">
            <i class="icon-edit icon-white"></i>
            <span><strong>Edit</strong></span>       
        </a> 	
    </div>
    <div class="span1" ng-show="isadmin">
        <a href="#" class="btn btn-danger">
            <i class="icon-trash icon-white"></i>
            <span><strong>Delete</strong></span>        	
        </a>
    </div>
    <div class="span1 pull-right" ng-show="isadmin || isuser">
        <a href="#" id="logout" class="btn btn-primary" ng-click=logout()>
            <i class="icon-trash icon-white"></i>
            <span><strong>Logout</strong></span>        	
        </a>
    </div>
</div>